    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-4">
              <img src="img/IMG_0957_COLLAGE.jpg" class="img-responsive">
              <img src="img/IMG_20170613_180356.jpg" class="img-responsive">
              <img src="img/IMG_20170613_130113.jpg" class="img-responsive">
              <img src="img/IMG_20170830_200354.jpg" class="img-responsive">
            </div>
            <div class="col-lg-8">
              <h2>INFO</h2>
              <p>
                Hackland is an independent, not for profit Hackspace in central Auckland for
                Ukelele, Coffee, Ethereum, Bitcoin, 3D Printing, CNC, Woodworking, Metalworking, Electronics, Coding, Sewing,
                Arts and Crafts or just hanging out with creative people.
              </p>

              <h4>Guiding Principles</h4>

              <p>
                <strong>Change and Experimentation</strong> is welcome, even if you're not an expert or not sure where something is going. Everything in the space is hackable
                unless it has a "<strong>Do Not Hack</strong>" sticker on it. If it looks expensive or hacking it would take longer than 6 hours to put back,
                please check with the group or post on the Slack channel or Loomio before taking it to bits.
              </p>

              <p>
                <strong>Big Changes & Group Consensus</strong>: if a change is big, talk about it with as many people as possible in person, then
                ask on slack and post a Loomio proposal to see how the wider-group feels about it.
                The aim is always to reach a compromise everyone is okay with, but one which is best for the entire group, not one individual.
              </p>

              <p>
                <strong>Safety:</strong> there are dangerous tools and equipment in the space. Please have someone show you
                how to safely use any tool you are unfamilar with before turning them on. Always use the correct safety equipment and always warn other memberes in the space before making loud noises.
              </p>

              <p>
                <a href="https://github.com/HakLand/Constitution">github.com/HakLand/Constitution</a>
              </p>

              <a href="https://goo.gl/forms/XAyCLl92GzYykcCa2" class="btn btn-default btn-lg">JOIN HACKLAND</a>

            </div>
        </div>
    </section>
