    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Moar</h2>
                    <p>You can download moar things here</p>
                    <a href="http://things.com/thing" class="btn btn-default btn-lg">CLICK 4 MOAR</a>
                </div>
            </div>
        </div>
    </section>
