<!-- Download Section -->
<section id="equipment" class="content-section">
    <div class="equipment-section">
        <div class="container">
            <div class="col-lg-12">
                <h2>Current Equipment</h2>

                <table class="table">
                  <tr>
                    <td>
                      <p>2.4 x 1.2m CNC - Mechmate</p>
                      <img src="img/cnc.png" class="img-responsive">

                    </td>
                    <td>
                      <p>Can cut full sized 2400x1200mm sheet materials, foams and other materials</p>
                      <p>Fully dust extracted. Induction required to use!</p>
                      <p>Courses running fortnightly for use (open to public) - register: http://meetu.ps/e/FbzCh/BPsl2/f</p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p>3D Printer - Prusa i3 mk3</p>
                      <img src="img/prusa.jpg" class="img-responsive">
                    </td>
                    <td>
                      <p>Print small objects in PET Plastic or ceramic clay</p>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <p>3D Delta PET/Ceramic Printer</p>
                      <img src="img/delta.jpg" class="img-responsive">
                    </td>
                    <td>
                      <p>Print small objects in PET Plastic or ceramic clay</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Laser Cutter/Engraver - </p>
                      <img src="img/laser.jpg" class="img-responsive">

                    </td>
                    <td>
                      <p>Cut and engrave plastics, wood and other materials with laser</p>

                      <p></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Ethereum miner</p>
                    </td>
                    <td>
                      <p>Provides warmth and runs a Ethereum Cryptocurrency node</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Drilling and Milling Machine - ZK32G</p>
                    </td>
                    <td>
                      <p>Can be used to make precise parts from light metals and plastics</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Lathe</p>
                    </td>
                    <td>
                      <p>Can be used to make symetrical parts from light metals and plastics</p>
                    </td>
                  </tr>
                </table>


                <p>Circular (skill) saw</p>
                <p>2hp Router</p>
                <p>1/4 hp Palm Router</p>
                <p>Belt Sander</p>
                <p>Orbital Sander</p>
                <p>Nailers</p>
                <p>Bandsaw</p>
                <p>Tig Welding Plant</p>
                <p>Electrode Welding Plant</p>
                <p>Drills</p>
                <p>Hand Tools</p>
                <p>Sewing Machine</p>
                <p>Overlockers</p>


                <p>More to come...</p>

            </div>
        </div>
    </div>
</section>
