<!-- Download Section -->
<section id="equipment" class="content-section text-center">
    <div class="equipment-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Current Equipment</h2>

                <p>3D Delta PET/Ceramic Printer</p>
                <p>CNC Laser ENGRAVER</p>
                <p>Ethereum miner</p>
                <p>Dremel</p>
                <p>Drills</p>
                <p>Hand Tools</p>
                <p>Sewing Machine</p>

                <p>More to come...</p>

            </div>
        </div>
    </div>
</section>
