<!-- Download Section -->
<section id="equipment" class="content-section">
    <div class="equipment-section">
        <div class="container">
            <div class="col-lg-12">
                <h2>Current Equipment</h2>

                <table class="table">
                  <tr>
                    <td>
                      <p>3D Delta PET/Ceramic Printer</p>
                    </td>
                    <td>
                      <p>Print small objects in PET Plastic or ceramic clay</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>CNC Laser ENGRAVER</p>
                    </td>
                    <td>
                      <p>Engrave with a lasers onto plastics, wood or aluminium</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Ethereum miner</p>
                    </td>
                    <td>
                      <p>Provides warmth and runs a Ethereum Cryptocurrency node</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Dremel</p>
                    </td>
                    <td>
                      <p>High speed multi purpose tool</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Mill</p>
                    </td>
                    <td>
                      <p>Can be used to make asymetrical parts</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Lathe</p>
                    </td>
                    <td>
                      <p>Can be used to make symetrical parts</p>
                    </td>
                  </tr>
                </table>

                <p>Drills</p>
                <p>Hand Tools</p>
                <p>Sewing Machine</p>
                <p>Easels</p>

                <p>More to come...</p>

            </div>
        </div>
    </div>
</section>
