<!-- Download Section -->
<section id="spaces" class="content-section">
    <div class="equipment-section">
        <div class="container">
            <div class="col-lg-12">
                <h2>Other Makerspaces in Auckland</h2>

                <table class="table">
                  <tr>
                    <td>
                      <p>Tangleball</p>
                    </td>
                    <td>
                      <p>
                        Aucklands oldest and most established Makerspace.
                        Regularly open every Monday from 6:30pm
                      </p>

                      <span class="label label-default">woodworking</span>
                      <span class="label label-default">metalworking</span>
                      <span class="label label-default">CNC</span>
                      <span class="label label-default">3D Printing</span>

                      <p class="text-right">
                        <a href="http://www.tangleball.org.nz/">
                          http://www.tangleball.org.nz/
                        </a>
                      </p>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Gribblehirst Hub & Auckland Central Community Shed</p>
                    </td>
                    <td>
                      <p>Two large spaces in Gribblehirst Park</p>

                      <span class="label label-default">woodworking</span>
                      <span class="label label-default">metalworking</span>
                      <span class="label label-default">3D Printing</span>
                      <span class="label label-default">Arts and Crafts</span>
                      <span class="label label-default">Knitting</span>
                      <span class="label label-default">Food</span>

                      <p class="text-right">
                        <a href="https://ghub.nz/">
                          https://ghub.nz/
                        </a>
                      </p>
                      <p class="text-right">
                        <a href="https://www.facebook.com/accshed/">
                          https://www.facebook.com/accshed/
                        </a>
                      </p>

                    </td>
                  </tr>
                    
                  <tr>
                    <td>
                      <p>TAP:Lab</p>
                    </td>
                    <td>
                      <p>The Te Atatu Peninsula Digital Makerspace in the community centre</p>

                      <span class="label label-default">3D Printing</span>
                      <span class="label label-default">Arts and Crafts</span>
                      <span class="label label-default">Electronics</span>

                      <p class="text-right">
                        <a href="http://www.taplab.nz/">
                          http://www.taplab.nz/
                        </a>
                      </p>

                    </td>
                  </tr>

                </table>

                <a href="https://github.com/AucklandHackspace/AucklandHackspace.github.io/blob/master/_includes/other_spaces.html" class="btn btn-default">
                  Add or change this page
                </a>



            </div>
        </div>
    </div>
</section>
