<!-- Download Section -->
<section id="spaces" class="content-section">
    <div class="equipment-section">
        <div class="container">
            <div class="col-lg-12">
                <h2>Other Makerspaces in Auckland</h2>

                <table class="table">
                  <tr>
                    <td>
                      <p>Tangleball</p>
                    </td>
                    <td>
                      <p>
                        <b>Tangleball has closed permanently</b>, but it was Auckland's oldest and most established Makerspace.  
                      </p>

                      <p class="text-right">
                        <a href="http://www.tangleball.org.nz/">
                          http://www.tangleball.org.nz/
                        </a>
                      </p>

                    </td>
                  </tr>
                    
                  <tr>
                    <td>
                      <p>Gribblehirst Hub</p>
                    </td>
                    <td>
                      <p>Upstairs in the former bowling club</p>

                      <span class="label label-default">3D Printing</span>
                      <span class="label label-default">Arts and Crafts</span>
                      <span class="label label-default">Sewing</span>
                      <span class="label label-default">Knitting</span>
                      <span class="label label-default">Theatre</span>
                      <span class="label label-default">Music</span>
                      <span class="label label-default">Food</span>                      
                      <span class="label label-default">Electronics</span>

                      <p class="text-right">
                        <a href="https://ghub.nz/">
                          https://ghub.nz/
                        </a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>Gribblehirst Commons</p>
                    </td>
                    <td>
                      <p>The former bowling greens, now under development as an outdoor community making space</p>

                      <span class="label label-default">Growing</span>
                      <span class="label label-default">Fablab</span>
                      <span class="label label-default">Events</span>
                      <p class="text-right">
                        <a href="https://ghub.nz/">
                          https://ghub.nz/
                        </a>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p> Auckland Central Community Shed</p>
                    </td>
                    <td>
                      <p>Upstairs in the former bowling club</p>

                      <span class="label label-default">Woodworking</span>
                      <span class="label label-default">Metalworking</span>
                      <p class="text-right">
                        <a href="https://www.facebook.com/accshed/">
                          https://www.facebook.com/accshed/
                        </a>
                      </p>
                    </td>
                  </tr>
                    
                  <tr>
                    <td>
                      <p>TAP:Lab</p>
                    </td>
                    <td>
                      <p>The Te Atatu Peninsula Digital Makerspace in the community centre</p>

                      <span class="label label-default">3D Printing</span>
                      <span class="label label-default">Arts and Crafts</span>
                      <span class="label label-default">Electronics</span>

                      <p class="text-right">
                        <a href="http://www.taplab.nz/">
                          http://www.taplab.nz/
                        </a>
                      </p>

                    </td>
                  </tr>

                </table>

                <a href="https://github.com/AucklandHackspace/AucklandHackspace.github.io/blob/master/_includes/other_spaces.html" class="btn btn-default">
                   To Improve This Page Click Here
                </a>



            </div>
        </div>
    </div>
</section>
